{% extends 'base.html' %}
{% load range %}

{% block title %}{{ project.name }}{% endblock %}

{% block top %}<h1>Project {{ project.name }}</h1>{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-2">
        Tasks
        <ul>
            {% for row in top_sub_tasks %}
                <li>{{ row.task.name }}
                    {% if row.subtasks %}
                        <ul>
                            {% for task in row.subtasks %}
                                <li>{{ task.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <div class="mono">
            {% nowhite %}
                {% for i in project_span %}
                    {% day day_span i %}
                {% endfor %}
                |<br />

                {% for row in graph %}
                    {% for i in row.offset|get_range %}
                        {% for x in day_span|inc|get_range %}&nbsp;{% endfor %}
                    {% endfor %}

                    {% if row.has_subtasks %}
                        {% for i in row.duration|get_range %}
                            {% if forloop.first %}
                                /
                            {% else %}
                                -
                            {% endif %}

                            {% for x in day_span|get_range %}-{% endfor %}
                        {% endfor %}
                        \
                    {% else %}
                        {% for i in row.duration|get_range %}
                            #
                            {% for x in day_span|get_range %}#{% endfor %}
                        {% endfor %}
                        #
                    {% endif %}
                    <br />
                {% endfor %}
            {% endnowhite %}
        </div>
    </div>
</div>
{% endblock %}
