{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block top %}<h1>Project {{ project.name }}</h1>{% endblock %}

{% block body %}
<div class="container">
    <div class="col-md-2">
        Tasks
        <ul>
            {% for task in project.top_down_tasks %}
                <li>{{ task.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-10">
        <div class="mono">
            {% for day in project_span %}|{% for it in day_span %}&nbsp;{% endfor %}{% endfor %}|
        </div>
    </div>
</div>
{% endblock %}
